{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <!-- ========================= HEADER REFERENCES========================= -->
    {% include 'includes/header_references.html' %}
    <!-- ========================= HEADER REFERENCES END // ========================= -->
</head>
<body>


<!-- ========================= HEADER ========================= -->
{% include 'includes/header.html' %}
<!-- ========================= HEADER END // ========================= -->


{% block content %}

{% endblock %}


<!-- ========================= FOOTER ========================= -->
{% include 'includes/footer.html' %}
<!-- ========================= FOOTER END // ========================= -->

</body>
</html>